@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Watch Processes Remotely</h1>
    <p class="lead">Watch .net processes remotely, no need to register just click on get a new token and follow the easy instructions, once we have data we will send to start streaming, when done just delete!</p>
</div>

<div class="row">
    <div class="col-md-14">
        <h2>Brought To You By Your Friends At LS</h2>
        <p>
            We Get Apps Done!
            <a href="http://www.logicstructure.com">
                Logic Structure
            </a>
        </p>
        <p><a class="btn btn-default" href="http://www.logicstructure.com">Learn more &raquo;</a></p>
    </div>
</div>